<p>OLá <%= @resource.email %>!</p>

<p>Alguém solicitou o link para trocar de senha. Você pode fazer isso através deste link.</p>

<p><%= link_to 'Troque minha senha!', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou, ignore este email.</p>
<p>Sua senha não será trocada até você acessar o link e criar uma nova senha.</p>
